{% extends "base.html" %}{% block title %}Logged out{% endblock title %}{% block content %}    <h1>Logged out</h1>    <div class="module">        <p>You have been successfully logged out. You can <a href="{% url "login" %}">log-in again</a>.</p>    </div>{% endblock content %}